* {
    margin: 0;
    padding: 0;
}

body{
    float: left;
    opacity: 1.0;
    background-image: url(./images/tetris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    width: 450px;
    height: 600px;
    margin-left: 240px;
    margin-top: 80px;
    table-layout: fixed;
    border-collapse: collapse;
    position: absolute;
}

td{
    width: 30px;
    height: 30px;
    border: 1px solid;
}

#prompt{
    width: 200px;
    height: 600px;
    position: absolute;
    color: orange;
    font-size: 25px;
    float: left;
}

#prompt-information{
    margin-bottom: 20px;
    background-image: url(./images/prompt.jpg);
    background-size: cover;
}

#start-operation{
    background-image: url(./images/enter.png);
    background-size: cover;
}

#esc-operation{
    background-image: url(./images/esc.png);
    background-size: cover;
}

#pause-operation{
    background-image: url(./images/space-bar.png);
    background-size: cover;
}

#rotate-operation{
    background-image: url(./images/up.png);
    background-size: cover;
}

#left-operation{
    background-image: url(./images/left.png);
    background-size: cover;
}

#right-operation{
    background-image: url(./images/right.png);
    background-size: cover;
}

#down-operation{
    background-image: url(./images/down.png);
    background-size: cover;
}

.operation-prompt{
    width: 140px;
    height: 90px;
    float: left;
    margin: auto;
    position: relative;
}

.operation-name{
    margin: auto;
    position: absolute;
    vertical-align: middle;
}


.operation-pic{
    width: 70px;
    height: 65px;
    position: absolute;
    left: 80px;
    top: -5px;
}



#information{
    width: 600px;
    height: 600px;
    position: absolute;
    right: 100px;
    top: 100px;
    color: red;
    font-size: 33px;
}

#warning{
    color: coral;
    font-size: 24px;
}

#x-operation{
    width: 60px;
    height: 60px;
    position: relative;
    left: 50px;
    background-image: url(./images/change.png);
    background-size: cover;
}

#next-tile{
    width: 120px;
    height: 120px;
    margin-left: 35px;
    margin-top: 30px;
    position: relative;
    color: black;
}

#score-panel{
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
}

#score-pic{
    width: 180px;
    height: 105px;
    position: relative;
    top: 60px;
    left: -50px;
    background-image: url(./images/score.png);
    background-size: cover;
    display: inline-block;
}

#score{
    width: 40px;
    height: 40px;
    position: relative;
    left: 190px;
    bottom: 40px;
    font-size: 60px;
}

#max-score-panel{
    width: 400px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    left: 300px;
    color: goldenrod;
    font-size: 40px;
    float: left;
}

#max-score-value{
    font-size: 50px;
    vertical-align: middle;
    color: red;
}