* {
    margin: 0;
    padding: 0;
}

body{
    float: left;
    opacity: 1.0;
    background-image: url(./images/back1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#test{
    width: 200px;
    height: 200px;
    background-image: url(./images/test.gif);
    background-size: cover;
}

table{
    width: 300px;
    height: 600px;
    margin-left: 240px;
    margin-top: 80px;
    table-layout: fixed;
    border-collapse: collapse;
    border-color: aqua;
    border: solid 1px;
    position: absolute;
}

td{
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: aqua;
}






#information{
    width: 600px;
    height: 600px;
    position: absolute;
    right: 100px;
    top: 100px;
    color: whitesmoke;
    font-size: 33px;
}

#warning{
    width: 230px;
    height: 140px;
    color: coral;
    font-size: 24px;
    border: dashed 1px aqua;
    border-radius: 8px;
}

#x-operation{
    width: 60px;
    height: 60px;
    position: relative;
    left: 50px;

}

#next-model{
    width: 230px;
    height: 215px;
    border: dashed 1px aqua;
    border-radius: 8px;
}

#next-model-text{
    position: relative;
    left: 20px;
}

#next-tile{
    width: 120px;
    height: 120px;
    margin-left: 35px;
    margin-top: 30px;
    position: relative;
    color: black;
}

#score-panel{
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
    left: -40px;
    top: 30px;
    border: dashed 1px aqua;
}

#score-pic{
    width: 180px;
    height: 105px;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 30px;
    display: inline-block;
}

#score{
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 60px;
}

#max-score-panel{
    width: 600px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    left: 300px;
    color: goldenrod;
    font-size: 40px;
    float: left;
}

#max-score-value{
    font-size: 50px;
    vertical-align: middle;
    color: red;
}